<br><br><br><br>
 <div class="container register">
  <div class="row">
      <div class="col-md-3 register-left">
          <img src="../../../assets/9233abf3-e3ee-44dc-9923-53f2dcb319b9.png" alt="" width="350" height="100"/>
          <h3>Chainflux</h3>
          <p>©2019 All Rights Reserved. Chainflux. Privacy and Terms</p>
          <!-- <input type="submit" name="" value="Login" (click)="login(a.value,b.value)"/><br/> -->
      </div>
      <div class="col-md-9 register-right">
                  <h3 class="register-heading">Login Form</h3>
                  <div class="row register-form">
                      <div class="col-md-12">
                          <div >
                            <input type="password" class="form-control" #privatekey placeholder="Enter your private key" name="public_kkey" >
                          </div>
                          <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" style="text-align:center;">
                                <input type="submit" class="btnRegister" value="Login" (click)="login(privatekey.value)"/>
                            </div>
                        <div class="col-md-2"></div>
                      </div>
                  </div>
             
      </div>
  </div>

</div>
</div>