<br><br><br><br> 
<div class="text-center">
  <img class="text-center" src="../../../assets/8e805354-3544-4db1-a599-f6e8b84ece3b.png" alt="Los Angeles" width="250" height="250">
</div>
<!-- <img class="text-center" src="../../../assets/Crypto Exchange.png" alt="Los Angeles" width="500" height="500"> -->
<h3 class="text-center"><b>This Appliction Is Created Only For Admin To Access The Admin Functionalities in Wanchain Wandx desktop Dapp .</b></h3>
<div style="text-align: center;">
<!-- <button class="primary" routerLink="login" routerLinkActive="active">Login</button> --> 
<!-- <input type="submit" class="btnRegister1" *ngIf="auth.sign" (click)='register()' value="Register/SignIn"/> -->
</div> 
